In [125]:
import numpy as np
import pandas as pd

dummy_file = "knn.csv"
dummy_hires = pd.read_csv(dummy_file, header = 0)
dummy_hires.head()

,user_id,Years of Employment,No of Open Source Projects Contribution,Stars on Github Repo,Active on Twitter,Active on Reddit,Active on Instagram,Active on Stackoverflow,No of Friends working at Org (prior to joining Org),No of Friends working at Competitor,Working at Org
0,0,0,1,800,0,0,0,1,2,3,1
1,1,2,3,24,0,1,1,1,3,9,0
2,2,1,2,82,1,0,0,1,2,9,0
3,3,5,0,0,0,1,0,1,4,28,0
4,4,8,0,0,1,0,0,0,6,3,0

In [126]:
dummy_hires_array = dummy_hires.values

In [127]:
X = dummy_hires_array[:,1:10]
Y = dummy_hires_array[:,10]

In [128]:
from sklearn import cross_validation
from sklearn.neighbors import KNeighborsClassifier

In [129]:
num_folds = 3
num_instances = len(X)
random_state = 2

# Setup a 3-fold cross-validation
kfold = cross_validation.KFold(n=num_instances, n_folds=num_folds, random_state=random_state)
model = KNeighborsClassifier()
results = cross_validation.cross_val_score(model, X, Y, cv=kfold)

# Mean estimated accuracy of model
print(results.mean())

0.619047619048

In [134]:
model.fit(X,Y)

# Predict whether candidate with 3 yrs of experience and no friends and no code contributions on Github
candidate = np.array([3,0,0,0,0,0,0,0,0]).reshape(1,-1)
print(model.predict(candidate))

[0]

In [135]:
# Predict whether candidate with 3 yrs of experience and contributions to 2 open source projects with 
# 500 stars on Github
candidate = np.array([3,2,500,0,0,0,0,0,0]).reshape(1,-1)
print(model.predict(candidate))

[1]